/* WHOLE CONTAINER CSS */
.whole-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* TEXT EDITOR CSS */
#editor-container {
    height: 550px;
    width: 550px;
}

#toolbar-container {
    width: 550px;
}

/* Fonts shown on toolbar */
#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
    font-family: sans-serif;
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
}

#toolbar-container .ql-font span[data-label="Ubuntu"]::before {
    font-family: "Ubuntu";
}

/* Fonts that will be used in editor */
.ql-font-sans-serif {
    font-family: sans-serif;
}

.ql-font-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-oswald {
    font-family: "Oswald";
}

.ql-font-ubuntu {
    font-family: "Ubuntu";
}

/* Font sizes */
#toolbar-container .ql-size span[data-value]::before {
    /* content: attr(data-value); */
    font-size: attr(data-value);
}

/* Submit Button */
.submit-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.submit-button:active {
    background-color: darkgray;
}

/* CANVAS CSS */
#canvas-container {
    margin-top: 38px;
    height: 550px;
    width: 550px;
    border: 3px solid red;
    overflow-y: auto;
}
